.about > main{
    padding: 2em;
}
.about > main h1{
    font-size: 2.7rem;
}
@media(min-width: 525px){
    /*  */
    .about{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .about > .footer{
        margin-top: auto;
    }
}