.archive main{
    padding: 2em;
}
.archive-row{
    display: flex;
    justify-content: space-between;
    /* gap: 1em; */
    margin: 2em 0;
    border-bottom: 1px solid #CCC;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0;
}